/* * {
  margin: 0;
  padding: 0;
} */

body {
  background-color: #E5E5E5;
  color: #14213D;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
}

hr {
  border: 1px #FCA311 solid;
}

ul {
  background-color: #14213D;
  border-radius: 20px;
  color: #FFFFFF;
  padding: 20px 40px;
}

.link {
  color: #FCA311;
  text-decoration: none;
}

.button {
  background-color: #FCA311;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 4px 4px;
  text-decoration: none;
}

/* .header {
  padding: 1%;
} */

.about {
  background-color: #14213D;
  border-radius: 20px;
  color: #FFFFFF;
  padding: 20px;
}

.picture {
  border: px solid #FCA311;
  border-radius: 40% 60% 40% 60%;
  background-color: #FCA311;
}

/* div {
  border: 2px red solid;
} */