#about-me {
  align-items: center;
  background-color: rgb(217, 39, 39);
  display: flex;
  flex-direction: column;
  padding: 2% 20%;
  text-align: justify;
}

body {
  background-color: rgb(28, 28, 28);
  color: white;
}

.font-monospace span {
  color: rgb(255, 33, 33);
}

#header-nav {
  display: flex;
  flex-wrap: wrap;
}

#header-nav li {
  margin-right: 40px;
}

#header-nav li a {
  color: white;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

#header-nav li a:hover {
  color: rgb(255, 33, 33);
}

#header-section {
  align-items: center;
  background-color: rgb(59, 59, 59);
  color: white;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 1% 5%;
  width: 100%;
}

#header-section p {
  margin-right: 40px;
  text-align: center;
}

#home {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  padding: 5%;
}

#main-text-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#main-text {
  font-weight: bold;
}

#name {
  color: rgb(217, 39, 39);
}

#profile-img {
  max-width: 30%;
}

#projects {
  display: flex;
  flex-direction: column;
  padding: 4% 20%;
}

#projects p {
  font-weight: 400;
  margin: 50px;
  text-align: center;
}

#projects p a {
  color: rgb(255, 33, 33);
  text-decoration: none;
  transition: ease-in-out 0.1s;
}

#projects p a:hover {
  opacity: 0.5;
}

#socials {
  display: flex;
  flex-direction: column;
  width: 4%;
}

#socials a img {
  margin: 8px;
  width: 100%;
}
